body {
  background-image: url(../img/LogoExactas.png), url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position-x: 1000px, 0px;
  background-position-y: 500px, 0px;
  background-size: 300px, cover;
  background-attachment: fixed;
}
h1,
h2,
h3,
h4 {
  color: rgb(230, 216, 216);
}
.titulos {
  color: rgb(230, 216, 216);
  text-align: center;
  margin-top: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 60px;
}
p {
  color: rgb(233, 223, 223);
  margin: 1% 15%;
  text-align: center;
}
p.desc {
  text-align: justify;
}
span {
  font-weight: bold;
}

.div-list {
  margin: 4%;
  padding-left: 4%;
}
.li-materias {
  font-size: 20px;
  color: rgb(235, 231, 186);
  margin-top: 20px;
}
a {
  text-decoration: none;
}
.navbar a {
  color: rgb(158, 147, 147);
}
.navbar a:hover {
  color: rgb(107, 95, 95);
}
a.li-materias:hover {
  color: rgb(136, 132, 72);
}
a .li-materias:hover {
  color: rgb(136, 132, 72);
}
.li-profesores {
  font-size: 30px;
  color: rgb(221, 221, 216);
}
input {
  padding: 5px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 7px;
  border-width: 1px;
  margin-right: 10px;
  color: white;
}
input:hover {
  background-color: rgb(240, 237, 194, 0.6);
}
input::placeholder {
  color: rgb(216, 212, 212);
}

select {
  padding: 8px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 7px;
  margin-right: 10px;
  width: 250px;
  color: black;
}
select:hover {
  background-color: rgb(240, 237, 194, 0.6);
}
.list-materias-admin {
  margin-top: 20px;
}
.navbar {
  padding-left: 20px;
}
.navbar-light {
  border-bottom: 7px rgb(48, 47, 47) solid;
}
.navbar-dark .navbar-brand {
  color: rgb(180, 180, 38);
}
.imagen-profesores {
  width: 15%;
  height: 15%;
  margin-left: 8%;
}
.imagen-home {
  width: 15%;
  height: 15%;
  margin-left: 10%;
}
#admM:hover {
  color: rgb(101, 102, 66);
}
#admP:hover {
  color: rgb(101, 102, 66);
}
#image-success {
  width: 20%;
  height: 20%;
  margin-top: 40px;
}
#success-div {
  display: flex;
  justify-content: center;
}
.success-p {
  font-size: 20px;
  margin-top: 1.5%;
  margin-bottom: 1%;
  font-weight: bold;
}
.span-nav {
  margin-left: auto;
  margin-right: 2%;
  color: rgb(101, 102, 66);
  font-size: 0.9rem;
}
.form-switch {
  margin-top: 25px;
  margin-left: 40px;
}
.check-permiso {
  font-size: 0.9rem;
  color: rgb(235, 231, 186);
}
.btn-send-permiso {
  margin-top: 20px;
  margin-left: 20px;
}
.div-for-comentario{
  border-radius: 30px;
  background-color: rgb(211, 231, 231,0.8);
  margin: 1% 20%;
  padding: 20px;
}
.div-for-comentario p {
  color: rgb(65, 60, 60);
  margin: 20px;
  
}
.comment-content{
  text-align: justify;
}
.comment-by{
  font-weight: bold;
}
.comment-user{
  text-align: left;
  font-size: 0.9rem;
}
.fa-checked{
  color: rgb(230, 255, 6);
}
#app{
  margin: 3% 0%;
}
textarea.div-for-comentario{
  resize: none;
  padding: 4%;
  border-style: none;
}
textarea.div-for-comentario:focus{
 outline: 0;
}
#div-estrellas {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#div-estrellas p {
  text-align: center;
}

#div-estrellas label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
.dropdown{
  padding: 1%;
}
#form-send-img{
  margin: 2%;
}

.imagenes-materia{
  width: 300px;
  height: 260px;
  
}
.image-container{
  margin: 4%;
}
.btn-delete-image{
  margin: 4%;
}
.images-detalle{
  width: 40%;
  height: 40%;
  margin: 2%;
}

