{include file='templates/main/header.tpl'}
{include file='templates/main/navbar.tpl'}
<div id="success-div">
    <img src="img/success.png" id="image-success">
</div>
<p class="titulos success-p">Thank you for sign up.</p>

{include file='templates/main/footer.tpl'}