
<nav class="navbar navbar-light bg-light" >
  <a class="navbar-brand adm" href="admin" id="admM" >Administrar materias</a>
  <a class="navbar-brand" href="admin/profesores" id="admP">Administrar profesores</a>
</nav>