{include file='templates/main/header.tpl'}
{include file='templates/main/navbar.tpl'}
{include file='templates/admin/nav-admin.tpl'}

{include file='templates/admin/showAdminProfesoresPiece.tpl'}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/btns-delete.js"></script>
{include file='templates/main/footer.tpl'}